.card-info{
    color: #F50057;
    margin: 10px;
    
    
}
.course-card{
    border: 1px solid lightgrey;
    
}
.text-color-red{
    color: #F50057;
}
.instructor{
    background-color: #acacac52;
}


